$font-stack:        "Open Sans", sans-serif;

$primary-links:     #FFFFFF;
$secondary-links:   #00CC99;
$general-links:     #C8CED5;
$body-text:         #262728;
$icon-colors:       #BEC3CC;

$body-background:   #FFFFFF;
$header-background: #262728;

$container-width:   100%;

$status-width:      575px;
$status-height:     425px;
$status-text-color: #FFFFFF;

$item-background:   #FFFFFF;
$item-border-color: #dee1e5;
$item-header-color: #3f454d;
$item-text-color:   #70767f;
$item-link-color:   #bec3cc;
$item-reply-background:   #f4f5f7;
$item-reply-border-color: #dee1e5;

$follow-header-color:     #3f454d;
$follow-header-size:      16px;
$follow-text-color:       #bec3cc;
$follow-border-color:     #dee1e5;

$setting-off-color: #dee1e5;
$setting-on-color:  #00CC99;
$setting-hover-color:  #C8CED5;
